APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:ndL9kQMFVUWhXWm2sY8Z+g15cf70RMV0M1EqKRKk4DI=
APP_DEBUG=true
APP_URL=http://localhost

URL_APP=http://localhost:8000/

URL_FILE=http://localhost:8000/

URL_API=http://localhost:8000/api/v1/admin/

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_dana_desa
DB_USERNAME=admin
DB_PASSWORD=zayndev

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME="testing@gmail.com"
MAIL_PASSWORD="hguswpuykdlsadjlsajdlsajdlzndxsd"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="testing@gmail.com"
MAIL_FROM_NAME="TESTING"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
