@font-face {
    font-family: "Robotto";
    src: url('../../fonts/Roboto-Regular.ttf');
    
  }
  @font-face {
    font-family: "Homework";
    src: url('../../fonts/Homework.ttf');
    
  }
  @font-face {
    font-family: "Hilttinery";
    src: url('../../fonts/Hilttinery.otf');
    
  }
